.widget {
    background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/09/79/55563061115a73c.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-color: #fff;
    padding: 35px 30px;
    margin-bottom: 40px;
    padding: 35px 30px;
    margin-bottom: 40px;
    width: 360px;
}

.text-center {
    text-align: center;
}

.about-me-content {
    padding-bottom: 13px;
}

.about-me-img {
    padding-top: 8%;
}

.about-me-img img {
    display: inline-block;
    border: 7px solid #fff;
    border-radius: 50%;
    margin-top: 40px;
}

.about-me-content h2 {
    margin-top: 12px;
    margin-bottom: 22px;
    color: #444;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.text-uppercase {
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}