.aboutme {
  background: url(/images/perfil.jpg) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-color: #fff;
  background-color: #fff;
  padding: 35px 30px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
}

.aboutme>div.content {
  padding-bottom: 13px;
}

.aboutme>div.content>div {
  padding-top: 8%;
}

.aboutme>div.content>div>img {
  display: inline-block;
  border: 7px solid #fff;
  border-radius: 50%;
  margin-top: 40px;
}

.aboutme>div.content>div>h2 {
  margin-top: 12px;
  margin-bottom: 22px;
  color: #444;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.aboutme>div.content>div>p {
  font-size: 15px;
  line-height: 25px;
  padding-top: 0;
  margin-top: 0;
}

.aboutme>div.footerShared ul li {
  padding: 0px;
}

.aboutme>div.footerShared ul li>a {
  display: inline-block;
  border: 1px solid #e2e2e2;
  color: #aaaaaa;
  font-size: 13px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 28px;
  margin-right: 6px;
}

.aboutme>div.footerShared ul li>a:hover {
  background: #da521e;
  border-color: #da521e;
  color: #fff;
}